# For analytics
VITE_VENDURE_PUBLIC_URL=
VITE_VENDURE_LOCAL_URL=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_QWIK_INSIGHTS_KEY=

# Required
VITE_SHOW_PAYMENT_STEP=true
VITE_SHOW_REVIEWS=true
VITE_SECURE_COOKIE=true
VITE_TERMINAL_NAME_TRANZILA=terminalname
VITE_DEFAULT_LOCALE=en
VITE_WEBHOOK_URL=https://webhook.app
VITE_API_URL=http://apiurl.com