@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply w-full border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-primary-500;
	}

	.input-text {
		@apply appearance-none min-w-0 w-full bg-white border border-gray-300 rounded-md py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white focus:border-white focus:placeholder-gray-400;
	}
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 200px);
}

.dropdownmenu ul,
.dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
}

.dropdownmenu li {
	float: left;
	position: relative;
	width: auto;
}
.dropdownmenu a {
	color: #ffffff;
	display: block;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	width: 150px;
}
li:hover ul.submenu {
	opacity: 1;
	top: 40px; /* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
.submenu li {
	float: none;
	width: 100%;
}
.submenu a:hover {
	background: #df4b05;
}
.submenu a {
	background-color: #000000;
	text-align: left;
}
